[Unit]
Description=business rates service
After=network.target

[Service]
User=business-rates
WorkingDirectory=/opt/business-rates
EnvironmentFile=-/etc/default/business-rates
ExecStart=/opt/business-rates/run
SyslogIdentifier=business-rates
Restart=on-failure

[Install]
WantedBy=multi-user.target
